<div class="container-fluid">
    <!-- Content here -->
    <div class="row">
        <div class="col-sm">
            <button type="button" class="btn btn-outline-primary" id="cnnButton">CNN</button>
        </div>
        <div class="col-sm">
            <button type="button" class="btn btn-outline-primary" id="foxButton">FOX</button>
        </div>
        <div class="col-sm">
            <button type="button" class="btn btn-outline-primary" id="nytButton">NYT</button>
        </div>

    </div>

    <div class="row">
        <h1>scraped news articles!</h1>
    </div>
    <div class="row" id="articles">
        <div class="col-sm" id="cnnArticles">
            {{!-- a response will give back the objects to fill this each call! --}}
            {{#each cnnArticle}}
        </div>
        <div class="col-sm" id="foxArticles">
            {{#each foxArticle}}
        </div>
        <div class="col-sm" id="nytArticles">
            {{#each nytArticle}}
        </div>
    </div>
</div>